@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

body {
  margin: 0;
  padding: 0;
}

/* Section 1 */
.section1 {
  height: 900px;
  width: 100%;
  background-color: #4F5DE4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  color: #333;
  background-color: var(--primary);
  color: var(--white);
  position: relative;
}

.ellipse_14 {
  width: 1039px;
  height: 1039px;
  flex-shrink: 0;
  border-radius: 1039px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.00) 100%);
  position: relative;
  /* Add relative positioning to .ellipse_14 */
  margin-left: -950px;
}

.ellipse_15 {
  width: 759px;
  height: 759px;
  flex-shrink: 0;
  border-radius: 759px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.00) 100%);
  box-shadow: 54px 24px 39px 0px rgba(0, 0, 0, 0.02);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.frame_106 {
  display: flex;
  flex-direction: column; /* Change to column layout to stack elements vertically */
  align-items: center; /* Align items at the center */
  gap: 40px;
}
.title {
  position: absolute;
  top: calc(50% - 176px);
  left: 200px;
  width: 629px;
  height: 398px;
}
.a-better-learning-journey-futu-parent {
  position: absolute;
  top: calc(50% - 199px);
  left: 0;
  flex-direction: column;
  gap: 40px;
}
.a-better-learning-container {
  position: relative;
  line-height: 85px;
  font-weight: 800;
  display: inline-block;
  width: 629px;
}
.a-better {
  margin: 0;
}
.all-the-lorem {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 32px;
  display: inline-block;
  width: 440px;
  font-family: 'Urbanist';
}
.a-better-learning-journey-futu-parent,
.frame-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.frame-parent {
  flex-direction: row;
  gap: 20px;
  font-size: var(--font-size-lg);
}
.button-parent {
  position: relative;
  width: 173px;
  overflow: hidden;
  flex-shrink: 0;
}

.button-group,
.button-parent,
.button5 {
  border-radius: var(--br-7xs);
  height: 56px;
}
.button4,
.frame-child {
  position: absolute;
  top: 0;
  height: 56px;
  z-index: 1;
  margin-right: 7px;
}
.button4 {
  position: relative;
  /* Change the position to relative */
  border-radius: var(--br-7xs);
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  gap: var(--gap-3xs);
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  font-size: var(--font-size-base);
  color: var(--white);
  border: none;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}

.button4::before {
  content: "";
  /* Add a pseudo-element */
  position: absolute;
  top: 0;
  right: 100%;
  /* Start the pseudo-element outside the button on the right */
  width: 100%;
  height: 100%;
  background-color: #f88b4a;
  z-index: -1;
  transition: right 0.3s;
  /* Add a transition to create the sliding effect */
}
.all{
  right: 100px
}

.button-parent .button4:hover::before {
  right: 0;
  /* Slide the pseudo-element from right to left on hover */
}
.exclusive-coach,
.icon {
  position: relative;
  font-family: 'Urbanist';
}
.button .exclusive-coach {
  white-space: nowrap;
}
.icon3 {
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-group {
  position: relative;
  width: 222px;
  overflow: hidden;
  flex-shrink: 0;
}
.button5 {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-13xl);
  align-items: center;
  justify-content: center;
}

.button5:hover {
  background-color: #8282E9;
  cursor: pointer;
}

.button5,
.frame-child1 {
  position: absolute;
  top: 0;
  height: 56px;
  z-index: 1;
  right: 20px;
}
.take-now-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  gap: var(--gap-3xs);
}
.exclusive-coach,
.icon {
  position: relative;
  font-family: 'Urbanist';
}
.button .exclusive-coach {
  white-space: nowrap;
}
.slider-icon {
  width: 642px;
  height: 642px;
  flex-shrink: 0;
  margin-left: 750px;
  margin-top: -150px;
}
.small-elements-icon:hover~.button4 {
  background-color: #f88b4a;
}
.small-elements-icon {
  position: absolute;
  top: -63px;
  left: 371px;
  width: 33px;
  height: 33px;
  flex-shrink: 0;
}
.small-elements-icon1{
  position: absolute;
  top: 398px;
  left: -320px;
  width: 33px;
  height: 33px;
  flex-shrink: 0;
}
.small-elements-icon-vector{
  position: absolute;
 
  top: 296px;
  left: 474px;
  width: 71.28199999999998px;
  height: 62.959999999999994px;
  flex-shrink: 0;
fill: var(--white, #FFF);
}
.small-elements-icon-element{
  position: absolute;
  top: -120px;
  left: 776px;
  width: 119px;
  height: 106.015px;
/* transform: rotate(-43.5deg); */
flex-shrink: 0;
}
.small-elements-icon-element2{
  position: absolute;
  top: 412px;
  left: 1286px;
  width: 88.625px;
height: 65.396px;
transform: rotate(-7.849deg);
flex-shrink: 0;
}
.small-elements-icon-star2{
  position: absolute;
  top: -159px;
    left: 1185px;
  width: 33px;
height: 33px;
flex-shrink: 0;
}
.small-elements-icon-element1{
  position: absolute;
  top: -118px;
  
  left: 1298px;
  width: 53.006px;
  height: 52.997px;
  flex-shrink: 0;
}
.small-elements-icon-star1{
  position: absolute;
  top: 482px;
    left: 964px;
  width: 33px;
height: 33px;
flex-shrink: 0;
}
.small-elements-icon-v{
  position: absolute;
  top: -285px;
  left: 272px;
  width: 1291.122px;
  height: 910.406px;
  /* transform: rotate(-41.765deg); */

  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.11);
  opacity: 0.5;
  clip-path: polygon(74% 0, 95% 0, 76% 100%, 53% 100%);
}
.small-elements-icon-vector12{
  position: absolute;
  top: -413px;
  left: 822px;
  width: 885px;
height: 1040px;
flex-shrink: 0;
}

.videoContainer {
  height: 1000px;
  width: 1500px;
  margin-top: 230px;
  margin-left: 250px;
  z-index: 3;
}

.video-icon {
  position: absolute;
  top: 31.759999999999998px;
    left: 1357.7px;
  border-radius: 49px;
  background-color: var(--white);
  width: 49.61px;
  height: 49.61px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icon5 {
  position: relative;
  width: 16.5px;
  height: 19.05px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.close {
  color: white;
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.modal iframe {
  width: 80%;
  height: 80%;
  border: none;
}

.bg,
.image-icon {
  position: absolute;
  border-radius: 50%;
}

.bg {
  position: absolute;
  top: -2px;
    left: 1324px;
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 118px;
  height: 113px;
}

/* .image-icon {
  top: 16.1px;
  left: 15.41px;
  width: 125.86px;
  height: 125.86px;
  object-fit: cover;
} */
.image-icon {
  top: 10.100000000000001px;
  left: 1337.4099999999999px;
  width: 93.86px;
  height: 89.86px;
  
}


.cart1,
.header-cart {
  position: absolute;
  top: 0;
  left: 0;
  width: 209.47px;
  height: 181.42px;
}

.header-cart {
  top: 568.08px;
  left: 1010px;
  width: 227px;
  height: 199.83px;
  font-size: 15.78px;
  color: #000;
}
.shape {
  position: absolute;
    top: -186.86px;
    left: -306.45px;
  border-radius: 7.01px;
  border: 0.9px solid var(--color-gray);
  box-sizing: border-box;
  width: 195.45px;
  height: 115.69px;
  overflow: hidden;
}
.latest-work-shop-parent {
  position: absolute;
  top: -232.3px;
  left: -338px;
  border-radius: 12.27px;
  background-color: var(--white);
  box-shadow: 23.664093017578125px 23.664093017578125px 45.58px rgba(0, 0, 0, 0.08);
  width: 209.47px;
  height: 136.73px;
  overflow: hidden;
}
.graphic-design,
.latest-work-shop {
  position: absolute;
  top: 30.68px;
  left: 28.05px;
  line-height: 28.05px;
  font-weight: 600;
  font-family: 'Urbanist';
}
.graphic-design {
  top: 56.09px;
  font-size: 12.27px;
  color: var(--grey);
  font-family: 'Urbanist';
}
.button6 {
  position: absolute;
  top: 82.39px;
  left: 28.05px;
  border-radius: 5.26px;
  background-color: var(--secondary);
  height: 34.18px;
  display: flex;
  flex-direction: row;
  padding: 14.023165702819824px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 8.76px;
  color: var(--white);
  cursor: pointer;
}
.icon6 {
  position: relative;
  width: 15.78px;
  height: 15.78px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-inner {
  position: absolute;
  top: 110.4px;
  left: 144.7px;
  width: 86.77px;
  height: 37.33px;
}
.cart-child,
.cart-item {
  position: absolute;
  border-radius: 50%;
}

.cart-child {
  top: -272px;
    left: -325.73px;
  background-color: var(--primary);
  width: 66.61px;
  height: 66.61px;
}
.cart-item {
  top: -263.99px;
    left: -318.72px;
  width: 52.59px;
  height: 52.59px;
  object-fit: cover;
}

/* Section 2 */
.section2 {
  height: 1470px;
  width: 1920px;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #fff;
}
@media (max-width: 768px) {
  .section1 {
    height: 100vh;
    width: 100%;
    font-size: 24px;
  }
  .slider-icon {
   display: none;
  }
  .all{
    display: none;
  }
  .frame-parent {
    flex-direction: column;
    align-items: center;
  }

  .title {
    left: 546px;
    top: 20%;
    transform: translate(0, -50%);
  }

  .a-better-learning-journey-futu-parent {
    left: 0;
    top: calc(50% + 50px);
  }

  .button-group {
    left: 0;
    top: 30px;
    width: 100%;
  }

  .button4 {
    width: 100%;
  }

  .button5 {
    width: 100%;
    right: auto;
  }
}
@media (max-width: 768px) {
  .section2 {
    height: 100vh;
    width: 100%;
    font-size: 24px;
  }
}